.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.heading
{
  color: rgb(85, 85, 85);
  font-family: 'Open Sans', arial;
  font-weight: 300;
  margin-bottom: 26px;
  text-align: center;
}

#documents-view {
  float: left;
  width:60%;
}

.cart {
  float: right;
  width: 40%;
  padding-bottom: 10px;
  border-top-width: 1px;
}

/* Display cart below document listing if
 * browser window isn't wide enough
 */
@media (max-width: 1080px) {
  #documents-view {
    width: 100%;
  }
  .cart {
    width: 100%;
  }
}

body {
  overflow-y: scroll;
  margin-bottom: 100px;
}

.btn-compact {
  padding: 2px 6px;
}

.td-compact {
  padding: 0 !important;
  vertical-align: middle !important;
}

.document-list:nth-child(even) {
  background-color: #f0f0f0;
}

#lectureSelection input {
  width: 500px;
}

.wrapper {
  display: table;
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu strong {
  color: #555;
}

.table-condensed {
  width: 100%;
}

.td-nowrap {
  white-space: nowrap;
}

.tr-selected {
  border: 2px solid #61c5fa;
  outline: none;
  box-shadow: 0px 0px 7px #61C5FA;
}

.lecture-list-cell {
  line-height: 100%;
}

ul.lecture-list-cell {
  margin: 0;
  padding-left: 12px;
}

.document-comment {
  font-style: italic;
}

.form-control-inline {
  display: inline-block;
  width: initial;
}

#cover-text {
  width: 230px;
  padding-left: 12px;
}

.number-input {
  padding-left: 0px;
  width: 60px;
}

.icon-button {
  font-size: medium;
}

.row-disabled {
  transition: opacity 0.3s;
  opacity: 0.6;
}

.footer {
  transition: opacity 0.3s;
  opacity: 0.4;
}

.footer:hover {
  transition: opacity 0.3s;
  opacity: 0.9;
}

.fade-button {
  cursor: pointer;
  color: black;
  transition: opacity 0.3s;
  opacity: 0.3;
}

.fade-button:hover {
  transition: opacity 0.3s;
  opacity: 0.8;
}

.rangeBar-td {
  padding: 0px !important;
  border: 0 !important;
  position: relative;
  height: 100%;
  text-align: center;
}

.rangeBar-selected {
  border-top: 0px !important;
}

.addButton-color {
  background-color: #28A4C9;
}

.removeButton-color {
  background-color:  #c12e2a;
}

.rangeBar-bound {
  z-index: 5;
  padding: 0 !important;
  position: absolute;
  text-align: center;
  width: 100%;
  left: -10%;
}

.rangeBar-upper-bound {
  top: -12px;
}

.rangeBar-lower-bound {
  bottom: -11px;
}

#preview-prefix {
  width: 100%;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotation {
  0% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

.icon-placeholder {
  width: 30px;
}

.spinner {
  display: none;
}

.spinner.active {
  animation: rotation 1s infinite steps(8);
  -webkit-animation: rotation 1s infinite steps(8);
  -moz-animation: rotation 1s infinite steps(8);
  display: inline-block;
}

.icon {
  opacity: 1.0;
  font-size: 1.3em;
}

a.btn {
  text-decoration: none;
}
