body {
  overflow-y: scroll;
}

.document-list:nth-child(even) {
  background-color: #f0f0f0;
}

.table-condensed {
  width: 100%;
}

.form-control-inline {
  display: inline-block;
  width: initial;
}

.number-input {
  width: 50px;
}

.icon-button {
  font-size: medium;
}

.row-disabled {
  opacity: 0.4;
}
