<!-- shopping cart template.
Data binding context: Cart -->

<h4>Einkaufswagen</h4>
<table class="table table-condensed">
  <thead>
    <tr>
      <td colspan="2">#</td>
      <td>Vorlesungen</td>
      <td>Prüfer</td>
      <td data-bind="text: 'Seiten&nbsp;(' + totalPageCount + ')'">Seiten</td>
      <td class='text-right'><button class='btn-danger icon-button btn' data-bind="click: dropAll.bind($data)">∀<span class='icon-remove small'></span></button></td>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
  <tr class="document-list" data-bind="attr: {title: extendedAttributes}">
    <td class="row-disabled" data-bind="text: $index() + 1"></td>
    <td class="td-compact"><span data-bind="css: documentType === 'written' ? 'icon-pencil' : 'icon-chat'"></span></td>
    <td>
      <div class="lecture-list-cell" data-bind="foreach: lectures">
        <div data-bind="text: '• ' + name"></div>
      </div>
    </td>
    <td data-bind="text: examinantsText"></td>
    <td data-bind="text: numberOfPages"></td>
    <td class="text-right td-compact"><button class='btn-danger icon-button btn btn-compact icon-remove' data-bind="click: $parent.drop.bind($parent, $data)"></button></td>
  </tr>
  </tbody>
</table>
<hr/>

<div data-bind="visible: !user.isAuthenticated">
  <form class="text-right" data-bind='submit: save.bind($data)'>
    Preisschätzung: <span data-bind="price: priceEstimate() / 100"></span>
    <span class="text-primary" data-bind="visible: includesOral">*</span>
    <input type="text" class="form-inline form-control-inline form-control" placeholder="Dein Name" data-bind="value: name" required>
    <button type="submit" class='btn btn-primary icon-floppy' data-bind="enable: documents.length > 0">Speichern</button>
  </form>
  <div class="text-right small text-primary" data-bind="visible: includesOral" style="padding-top: 7px;">
    <em>* Davon
      <span data-bind="price: config.DEPOSIT_PRICE / 100"></span> Protokollpfand
    </em>
  </div>
</div>
<div data-bind="visible: user.isAuthenticated, component: {name: 'print', params: $data}"></div>
