<!-- accounting correction screen template
Data binding context: Correction -->

<div class="text-center" style="margin-left:20%; margin-right:20%;">
  <h3 class="heading">Wenn Klausuren/Protokolle in Auftrag gegeben aber nicht verkauft wurden, buche hier die Druckkosten als nicht eingenommen.</h3>

  <hr>
  <form class="text-center" data-bind="submit: logErroneousCents.bind($data)">
    <p><input type="number" required step="0.10" class="form-control-inline form-control" data-bind="value: erroneousEuros">&nbsp;€ an Fehldrucken
    <button type="submit" class="btn btn-danger icon-money">Buchen</button></p>
    <p>Nicht eingenommenes Pfand bitte separat in der <a href="#internal/depositreturn">Pfandrückgabe</a> austragen!</p>
  </form>
  <hr>
  <form class="text-center" data-bind="submit: logErroneouslyPrintedPages.bind($data)">
    <input type="number" required class="number-input form-control-inline form-control" data-bind="value: erroneousPages"> Seiten als Fehldrucke
    <button type="submit" class="btn btn-danger icon-money">Buchen</button>
  </form>
  <hr>
  <h3 class="heading">Protokollpfand nachträglich eintragen:</h3>

  <div class="text-center">
    <form data-bind="submit: makeDeposit.bind($data)">
      <input type="number" min="1" class="number-input form-control-inline form-control" data-bind="value: _printJob.depositCount">&nbsp;×&nbsp;Pfand für&nbsp;
      <input required class="form-control-inline form-control" placeholder="Name" data-bind="value: _printJob.cart.name">
      &nbsp;
      <button type="submit" class="btn btn-danger icon-money">Buchen</button>
    </form>
  </div>
  <hr>
  <h3 class="heading">Spenden eintragen: </h3>

  <div class="text-center">
    <form data-bind="submit: makeDonation.bind($data)">
    <input type="number" required step="0.1" class="form-control-inline form-control" data-bind="value: donationEuros">&nbsp;€&nbsp;
      <button type="submit" class="btn btn-primary icon-money">Buchen</button>
    </form>

  </div>
</div>
