<div id="datenschutz" class="text-center">
	<h3>Datenschutzerklärung</h3>
	<h4>Geltungsbereich</h4>

	Diese Datenschutzerklärung soll die Nutzer dieser Website gemäß
	Bundesdatenschutzgesetz und Telemediengesetz über die Art, den Umfang und den Zweck
	der Erhebung und Verwendung personenbezogener Daten durch den Websitebetreiber, die
	<a href="https://www.fsmi.uni-karlsruhe.de/Kontakt/">Fachschaft Mathematik-Informatik am KIT</a>,
	informieren. Der Websitebetreiber nimmt Ihren Datenschutz sehr ernst und behandelt Ihre
	personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Vorschriften.
	Bedenken Sie, dass die Datenübertragung im Internet grundsätzlich mit Sicherheitslücken
	bedacht sein kann. Ein vollumfänglicher Schutz vor dem Zugriff durch Fremde ist nicht
	realisierbar.

	<h4>Zugriffsdaten</h4>
	Der Websitebetreiber erhebt Daten über Zugriffe auf die Seite und
	speichert diese als „Server-Logfiles“ ab. Folgende Daten werden so protokolliert:
	<ul>
       		<li>Besuchte Website</li>
		<li>Uhrzeit zum Zeitpunkt des Zugriffes</li>
		<li>Menge der gesendeten Daten in Byte</li>
		<li>Quelle/Verweis, von welchem Sie auf die Seite gelangten</li>
		<li>Verwendeter Browser</li>
		<li>Verwendetes Betriebssystem</li>
		<li>Verwendete IP-Adresse</li>
	</ul>
	Die erhobenen Daten dienen lediglich statistischen Auswertungen und zur Verbesserung der
	Website. Der Websitebetreiber behält sich allerdings vor, die Server-Logfiles nachträglich zu
	überprüfen, sollten konkrete Anhaltspunkte auf eine rechtswidrige Nutzung hinweisen.

	<h4>Eindeutige Bezeichner für das Protokollpfand</h4>
	Beim speichern eines Warenkorbes kann/muss durch den Benutzer ein möglichst eindeutiger Bezeichner
	festgelegt werden. Dieser wird nur zum Bezug des Einkaufs auf einen Pfandeintrag gespeichert und
	mit Rückgabe des Pfands gelöscht. Wird das Pfand nicht abgeholt, wird der Betrag nach 5 Jahren
	vereinnahmt und der Eintrag gelöscht. Eine Abholung des Pfands ist dann nicht mehr möglich.
	
	<h4>Cookies</h4>
	Diese Website verwendet Cookies. Dabei handelt es sich um kleine Textdateien, welche auf
	Ihrem Endgerät gespeichert werden. Ihr Browser greift auf diese Dateien zu. Durch den
	Einsatz von Cookies erhöht sich die Benutzerfreundlichkeit und Sicherheit dieser Website.

	<h4>SSL-Verschlüsselung</h4>
	Um Ihre übermittelten Daten bestmöglich zu schützen nutzen die Websitebetreiber eine SSLVerschlüsselung.
	Sie erkennen derart verschlüsselte Verbindungen an dem Präfix “https://“
	im Seitenlink in der Adresszeile Ihres Browsers. Unverschlüsselte Seite sind durch „http://“
	gekennzeichnet.
	Sämtliche Daten, welche Sie an diese Website übermitteln – etwa bei Anfragen oder Logins
	– können dank SSL-Verschlüsselung nicht von Dritten gelesen werden.
</div>
