<div class="text-center">
  <input type="text" class="form-control form-control-inline" placeholder="Name des Studis" data-bind="value: filter.value, valueUpdate: 'input'"><br>
  (filtert beide Tabellen)<br>
  <div style="margin: 10px">
    <button class="btn-primary btn" style="margin: 10px" data-bind="
      enable: deposits.selected && (!documents.selected || (documents.selected.validated && documents.selected.deposit_return_eligible)),
      css: {'btn-danger': deposits.selected && !documents.selected},
      click: cashOutDeposit.bind($data)
    ">Pfand auszahlen</button>
    <button class="btn-primary btn" style="margin: 10px" data-bind="
      enable: documents.selected && documents.selected.validated && (documents.selected.early_document_eligible),
      css: {'btn-def': !(documents.selected && documents.selected.early_document_eligible), 'btn-primary': documents.selected && documents.selected.early_document_eligible},
      click: cashOutEarlyDocument.bind($data)
    ">Erstprotokoll honorieren</button>
    <button class="btn-danger btn" style="margin: 10px" data-bind="
      enable: $data.currentSelectionEligibleForRejection(),
      click: rejectDocument.bind($data)
    ">Dokument ablehnen</button>
    <div class="alert alert-info"
         data-bind="visible: !deposits.selected && !documents.selected">Bitte wähle Pfand oder Protokoll aus</div>
    <div class="alert alert-info"
         data-bind="visible: !deposits.selected && documents.selected && !documents.selected.early_document_eligible">Kein Erstprotokoll: Bitte wähle einen Pfandeintrag aus</div>
    <div class="alert alert-warning"
         data-bind="visible: deposits.selected && !documents.selected">Bitte überprüfe, ob es ein zugehöriges Protokoll gibt</div>
    <div class="alert alert-danger"
         data-bind="visible: documents.selected && !documents.selected.validated && (documents.selected.early_document_eligible || deposits.selected)">Bitte überprüfe das Protokoll</div>
    <div class="alert alert-success"
         data-bind="visible: documents.selected && documents.selected.validated && (deposits.selected || documents.selected.early_document_eligible)">Volle Fahrt voraus!</div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h3 class="heading">Eingegangene Protokolle</h3>
      <hr>
      <table class="table table-condensed">
        <thead>
          <tr>
            <td><sortable-column params="coll: documents, column: 'submitted_by'">Name</sortable-column></td>
            <td>Vorlesungen</td>
            <td><sortable-column params="coll: documents, column: 'date', asc: false">Datum</sortable-column></td>
            <td>Überprüft?</td>
          </tr>
          <tr>
            <td><input type="text" class="form-control input-sm" placeholder="Filtern..." data-bind="value: documentFilter.value, valueUpdate: 'input'"></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody data-bind="foreach: documents.items">
          <tr class="list selectable" data-bind="
            css: {'selected': $parent.documents.selected === $data},
            click: function() { $parent.documents.toggleSelect($data); },
          ">
            <td data-bind="text: submitted_by"></td>
            <td>
              <ul class="lecture-list-cell" data-bind="foreach: lectures">
                <li data-bind="text: name"></li>
              </ul>
            </td>
            <td data-bind="date: date"></td>
            <td>
              <span data-bind="css: {'icon-ok': validated, 'icon-remove': !validated}"></span>
              <a
                class='icon-button btn btn-default btn-compact icon-eye selected'
                title="Vorschau"
                data-bind="
                    click: $component.validate.bind($component,$data),
                  clickBubble: false
                "></a>
            </td>
          </tr>
        </tbody>
      </table>
      <load-more params="coll: documents"></load-more>
    </div>
    <div class="col-sm-6">
      <h3 class="heading">Pfandeinträge</h3>
      <hr>
      <table class="table table-condensed">
        <thead>
          <tr>
            <td><sortable-column params="coll: deposits, column: 'name'">Name</sortable-column></td>
            <td>Vorlesungen</td>
            <td><sortable-column params="coll: deposits, column: 'date', asc: false">Datum</sortable-column></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control input-sm" placeholder="Filtern..." data-bind="value: depositFilter.value, valueUpdate: 'input'"></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody data-bind="foreach: deposits.items">
          <tr class="list selectable" data-bind="
            css: {'selected': $parent.deposits.selected === $data},
            click: function() { $parent.deposits.toggleSelect($data); },
          ">
            <td data-bind="text: name"></td>
            <td>
              <ul class="lecture-list-cell" data-bind="foreach: lectures">
                <li data-bind="text: $data"></li>
              </ul>
            </td>
            <td data-bind="date: date"></td>
          </tr>
        </tbody>
      </table>
      <load-more params="coll: deposits"></load-more>
    </div>
  </div>
</div>
