<!-- shopping cart template.
Data binding context: DocumentSelection -->

<div class="row">
  <h4 class="col-sm-7">Einkaufswagen</h4>

   <div class="col-sm-5" data-bind="with: barcode, visible: user.isAuthenticated">
     <div data-bind="css: {'input-group': scanners.length > 1}" class="input-group-sm" style="margin: 10px 0; float: right">
      <select class="form-control form-control-inline btn btn-default" data-bind="options: scanners, visible: scanners.length > 1, value: selectedScanner"></select>
      <span data-bind="css: {'input-group-btn': scanners.length > 1}">
        <button class="btn btn-default icon-barcode" type="button" data-bind="css: {active: isActive}, click: toggleButton.bind($data)"></button>
      </span>
    </div>
  </div>
</div>
<table class="table table-condensed">
  <thead>
    <tr>
      <td colspan="2">#</td>
      <td>Vorlesungen</td>
      <td>Prüfer</td>
      <td data-bind="text: 'Seiten&nbsp;(' + cart.totalPageCount + ')'">Seiten</td>
      <td class="text-right td-compact"><button class='btn-danger icon-button btn' data-bind="click: clearCart.bind($data)">∀<span class='icon-remove small'></span></button></td>
    </tr>
  </thead>
  <tbody data-bind="foreach: cart.documents">
  <tr class="document-list" data-bind="attr: {title: extendedAttributes}">
    <td class="row-disabled" data-bind="text: $index() + 1"></td>
    <td class="td-compact">
      <span data-bind="css: (documentType === 'written' || documentType === 'mock exam') ? 'icon-pencil' : 'icon-chat'">
        <strong data-bind="visible: (documentType === 'oral reexam' || documentType === 'mock exam')" style="margin-left: -5px; cursor: default">!</strong>
      </span>
    </td>
    <td>
      <div class="lecture-list-cell" data-bind="foreach: lectures">
        <div data-bind="text: '• ' + name"></div>
      </div>
    </td>
    <td data-bind="text: examinantsText"></td>
    <td data-bind="text: numberOfPages"></td>
    <td class="text-right td-compact"><button class='btn-danger icon-button btn btn-compact icon-remove' data-bind="click: $parent.cart.drop.bind($parent.cart, $data)"></button></td>
  </tr>
  </tbody>
</table>
<hr/>

<div data-bind="visible: !user.isAuthenticated">
  <form class="text-right" data-bind='submit: cart.save.bind(cart)'>
    Preisschätzung: <span data-bind="price: cart.priceEstimate() / 100"></span>
    <span class="text-primary" data-bind="visible: cart.includesOral">*</span>
    <input type="text" class="form-inline form-control-inline form-control" placeholder="Eindeutiger Bezeichner" data-bind="textInput: cart.name" required>
    <button type="submit" class='btn btn-primary icon-floppy' data-bind="enable: cart.documents.length > 0 && cart.name.trim().length > 0">Speichern</button>
  </form>
  <div class="text-right small text-primary" data-bind="visible: cart.includesOral" style="padding-top: 7px;">
    <em>
		* Davon <span data-bind="price: (cart.numOralEstimate * config.DEPOSIT_PRICE) / 100"></span> Protokollpfand
		<a tabindex="0" class="btn btn-xs btn-default" role="button"
			data-toggle="popover" data-trigger="focus" data-html="true"
			title="Protokollpfand" data-placement="left" data-container="body"
			data-content='
			<strong>Deutsch</strong>
			<p>Bei mündlichen Prüfungen nehmen wir pro Prüfung 5 Euro Pfand von dir ein, welche du wiederbekommst, wenn du ein Protokoll von deiner eigenen Prüfung einreichst. Vorlagen für dein eigenes Protokoll sowie ein Formular zum Upload einer PDF-Datei findest du direkt hier unter dem Tab "einreichen". Um das Pfand zuzuordnen benötigen wir eine möglichst eindeutige Zeichenkette, die du dir merken kannst. Solltest du zu einem späteren Zeitpunkt weitere Protokolle benötigen, musst du das Pfand nicht noch einmal bezahlen. Pfandeinträge werden mit dem Abholen oder spätestens nach 5 Jahren gelöscht.</p>
			<strong>English</strong>
			<p>To be able to always provide you with up-to-date examination transcripts, we ask for a 5 Euro deposit (per exam) when you buy oral examination transcripts. Your deposit will be refunded when you upload a transcript of your own examination. We provide you with a template in various formats. We require a uniquely identifying string you can remember (for example, your name) for mapping your deposit to you. Should you need additional transcripts later, we will check for an existing deposit and you will not need to pay the deposit again. Deposit entries will be deleted when a refund has been paid out or five years have elapsed.</p>
			'>?</a></em>
  </div>
</div>
<div data-bind="visible: user.isAuthenticated, component: {name: 'print', params: printjob}"></div>
