<!-- Template for the main document selection table.
Data binding context: DocumentSelection. -->

<div id='documents-view'>
  <!-- Bind URL parts to view model. Use a separate element so that nothing gets hidden by the lecture-less /documentselection default URL. -->
  <div data-bind="page: { id: '?', nameParam: ko.getObservable($data, 'searchBy') }">
    <div data-bind="page: { id: '?', nameParam: ko.getObservable($data, 'selectedId') }"></div>
  </div>
  <form class='form-inline' role='form'>
    <div id="searchBy" class="btn-group btn-group-nowrap" role="group">
      <button class="btn btn-default" type="button" data-bind="css: { 'active': searchBy === 'lectures' }, click: function() { searchBy = 'lectures'; }">Vorlesung</button>
      <button class="btn btn-default" type="button" data-bind="css: { 'active': searchBy === 'examinants' }, click: function() { searchBy = 'examinants'; }">Prüfer</button>
    </div>
    <input
      id='nameSelection'
      type='text'
      class='form-control-inline form-control'
      data-bind='
        value: selected ? selected.name : "",
        typeahead: {
          options: { highlight: true },
          dataset: typeaheadDataset,
          selected: ko.getObservable($data, "selectedId"),
          selectedProperty: "id"
        }'
      autofocus>
  </form>
  <div data-bind="component: { name: 'documentlist', params: documentlist }"></div>
</div>

<!-- shopping cart -->
<span id="cart" class="cart navbar-default container-fluid navbar">
  <div data-bind="component: { name: 'cart', params: cart }"></div>
</span>
