<!-- Template for the main document selection table.
Data binding context: DocumentSelection. -->

<div id="documentselection">
  <!-- Bind URL parts to view model. Use a separate element so that nothing gets hidden by the parameter-less /documentselection default URL. -->
  <div data-bind="page: {id: '?', nameParam: ko.getObservable($data, 'serializedSelected')}"></div>
  <div id="documentselection-selection">
    <input
      type="text"
      data-bind="tagsinput: {
        items: ko.getObservable($data, 'selected'),
        itemValue: 'name',
        typeaheadjs: [/*options*/ null, typeaheadDatasets],
      }"
      placeholder="Vorlesungen und/oder Prüfer"
      autofocus>
  </div>

  <div data-bind="foreach: selectedLectures">
    <div class="alert alert-compact alert-info" role="alert" data-bind="visible: comment">
      <strong data-bind="text: name, visible: $parent.selectedLectures.length > 1"></strong>
      <span data-bind="html: comment"></span>
    </div>
  </div>

  <!-- ko if: requestParams -->
  <documentlist params="cart: cart, requestParams: requestParams"></documentlist>
  <!-- /ko -->
</div>

<!-- shopping cart -->
<span id="cart" class="cart navbar-default container-fluid navbar">
  <div data-bind="component: {name: 'documentselection-cart', params: $data}"></div>
</span>
