<!-- shopping cart template.
Data binding context: DocumentSelection -->

<div class="row">
  <h4 class="col-sm-7">Einkaufswagen</h4>

   <div class="col-sm-5" data-bind="with: barcode">
     <div data-bind="css: {'input-group': scanners.length > 1}" class="input-group-sm" style="margin: 10px 0; float: right">
      <select class="form-control form-control-inline btn btn-default" data-bind="options: scanners, visible: scanners.length > 1, value: selectedScanner"></select>
      <span data-bind="css: {'input-group-btn': scanners.length > 1}">
        <button class="btn btn-default icon-barcode" type="button" data-bind="css: {active: isActive}, click: toggleButton.bind($data)"></button>
      </span>
    </div>
  </div>
</div>
<table class="table table-condensed">
  <thead>
    <tr>
      <td colspan="2">#</td>
      <td>Vorlesungen</td>
      <td>Prüfer</td>
      <td data-bind="text: 'Seiten&nbsp;(' + cart.totalPageCount + ')'">Seiten</td>
      <td class="text-right td-compact"><button class='btn-danger icon-button btn' data-bind="click: clearCart.bind($data)">∀<span class='icon-remove small'></span></button></td>
    </tr>
  </thead>
  <tbody data-bind="foreach: cart.documents">
  <tr class="document-list" data-bind="attr: {title: extendedAttributes}">
    <td class="row-disabled" data-bind="text: $index() + 1"></td>
    <td class="td-compact"><span data-bind="css: documentType === 'written' ? 'icon-pencil' : 'icon-chat'"></span></td>
    <td>
      <div class="lecture-list-cell" data-bind="foreach: lectures">
        <div data-bind="text: '• ' + name"></div>
      </div>
    </td>
    <td data-bind="text: examinantsText"></td>
    <td data-bind="text: numberOfPages"></td>
    <td class="text-right td-compact"><button class='btn-danger icon-button btn btn-compact icon-remove' data-bind="click: $parent.cart.drop.bind($parent.cart, $data)"></button></td>
  </tr>
  </tbody>
</table>
<hr/>

<div data-bind="visible: !user.isAuthenticated">
  <form class="text-right" data-bind='submit: cart.save.bind($data)'>
    Preisschätzung: <span data-bind="price: cart.priceEstimate() / 100"></span>
    <span class="text-primary" data-bind="visible: cart.includesOral">*</span>
    <input type="text" class="form-inline form-control-inline form-control" placeholder="Dein Name" data-bind="value: cart.name" required>
    <button type="submit" class='btn btn-primary icon-floppy' data-bind="enable: cart.documents.length > 0">Speichern</button>
  </form>
  <div class="text-right small text-primary" data-bind="visible: cart.includesOral" style="padding-top: 7px;">
    <em>* Davon
      <span data-bind="price: config.DEPOSIT_PRICE / 100"></span> Protokollpfand
    </em>
  </div>
</div>
<div data-bind="visible: user.isAuthenticated, component: {name: 'printcart', params: printjob}"></div>
