<!-- Template for the document submission form. Data binding context: DocumentSubmission -->
<div data-bind="visible: !user.isAuthenticated">
  <h3 class="heading text-center">So funktioniert's:</h3>
  <span>
    <ul class="col-md-offset-4 col-md-5">
      <li>(Von der Fachschaft Protokolle gegen Pfand kaufen, eindeutigen Bezeichner (den man sich merken kann) nennen.)</li>
      <li>Prüfung ablegen.</li>
      <li>Protokollvorlage von <a href="https://www.fsmi.uni-karlsruhe.de/Pruefungen/Muendlich.html#Protokollvorlagen">der Fachschaftshomepage</a> herunterladen und ausfüllen.</li>
      <li>Formular unten ausfüllen, Protokoll in PDF-Form hochladen.</li>
      <li>In die Fachschaft kommen, den gewählten Bezeichner sagen, Pfand zurückbekommen.</li>
    </ul>
  </span>
</div>
<hr style="clear: both;">
<form class="form-horizontal" data-bind="submit: submit.bind($data)">
  <div class="form-group">
    <label class="control-label col-md-3">Was für eine Prüfung war es?&nbsp;</label>
    <div class="col-md-8 btn-group btn-group-nowrap">
      <button class="btn btn-default" data-bind="click: function() { doctype = 'oral'; }, css: { 'active': doctype === 'oral'}">Mündliche Prüfung</button>
      <button class="btn btn-default" data-bind="click: function() { doctype = 'written'; }, css: { 'active': doctype === 'written'}, visible: user.isAuthenticated" title="Schriftliche Klausur">Klausur</button>
      <button class="btn btn-default" data-bind="click: function() { doctype = 'oral reexam'; }, css: { 'active': doctype === 'oral reexam'}" title="Mündliche Nachprüfung einer schriftlichen Klausur">Mündliche Nachprüfung</button>
    </div>
  </div>
  <div class="form-group" data-bind="visible: user.isAuthenticated && doctype === 'written'">
    <label class="control-label col-md-3">Enthält die PDF eine Lösung?&nbsp;</label>
    <div class="col-md-8 btn-group btn-group-nowrap">
      <button class="btn btn-default" data-bind="click: function() { solution = 'official'; }, css: { 'active': solution === 'official'}">Offizielle Lösung</button>
      <button class="btn btn-default" data-bind="click: function() { solution = 'inofficial'; }, css: { 'active': solution === 'inofficial'}">Studi-Lösung</button>
      <button class="btn btn-default" data-bind="click: function() { solution = 'none'; }, css: { 'active': solution === 'none'}">Ohne Lösung</button>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3">Vorlesungen&nbsp;</label>
    <div class="col-md-8">
      <select class="form-control" id="doc-submission-lectures" multiple="true" data-bind="tagsinput: {
            confirmKeys: [13],
            items: ko.getObservable($data, 'selectedLectures'),
            freeInput: true,
            typeaheadjs: [null, lecturesTypeaheadDataset],
          }"></select>
      <span class="help-block">
        Vorlesung nicht in der Vorschlagsliste? Passt schon, einfach Namen eingeben &amp; Enter drücken.
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3">An welcher Fakultät wird die Prüfung angeboten?&nbsp;</label>
    <div class="col-md-8 btn-group btn-group-nowrap">
      <button class="btn btn-default" data-bind="click: function() { department = 'computer science'; }, css: { 'active': department === 'computer science'}">Informatik</button>
      <button class="btn btn-default" data-bind="click: function() { department = 'mathematics'; }, css: { 'active': department === 'mathematics'}">Mathematik</button>
      <button class="btn btn-default" data-bind="click: function() { department = 'other'; }, css: { 'active': department === 'other'}">Andere (Ergänzungsfach)</button>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3">Prüfer&nbsp;</label>
    <div class="col-md-8">
      <select class="form-control" id="doc-submission-examinants" multiple="true" data-bind="tagsinput: {
            confirmKeys: [13],
            items: ko.getObservable($data, 'selectedExaminants'),
            freeInput: true,
            typeaheadjs: [null, examinantsTypeaheadDataset],
          }"></select>
      <span class="help-block">
        Prüfer nicht in der Vorschlagsliste? Passt schon, einfach Namen eingeben &amp; Enter drücken.
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3">Datum&nbsp;</label>
    <div class="col-md-8">
      <input class="form-control" type="text" required="required" placeholder="yyyy-mm-dd" data-bind="value: date, datepicker: {
        weekStart: 1,
        format: 'yyyy-mm-dd',
        language: 'de',
        todayHighlight: true,
        autoclose: true,
        endDate: '0d',
        startDate: '2010-01-01',
        todayBtn: true
      }">
    </div>
  </div>
  <div class="form-group" data-bind="visible: user.isAuthenticated">
    <label class="control-label col-md-3">Kommentar&nbsp;</label>
    <div class="col-md-8">
      <input class="form-control" type="text" data-bind="value: comment">
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="form-group" data-bind="visible: !user.isAuthenticated">
    <label class="control-label col-md-3">Bezeichner für deinen Pfandeintrag: &nbsp;</label>
    <div class="col-md-8">
      <input class="form-control" type="text" data-bind="value: name, disable: anonymous, attr: { 'required': !anonymous && !user.isAuthenticated }">
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-8">
      <div class="checkbox">
        <label>
          <input type="checkbox" data-bind="checked: anonymous">Anonym abgeben (falls du kein Pfand und keine Erstprotokollentlohnung bekommen möchtest).
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3">Datei (.pdf)&nbsp;</label>
    <div class="col-md-8">
      <input class="form-control" type="file" accept=".pdf" required="required" data-bind="event: { change: function() { file = $element.files[0]; }}">
      Bitte überprüfe folgendes vor dem Upload, damit dein Protokoll angenommen wird:
      <ul>
        <li>Hast du das Protokoll vollständig ausgefüllt?</li>
        <li>Das Protokoll sollte keine Leerseiten enthalten.</li>
        <li>Versuche Seiten mit nur einigen Zeilen Text zu vermeiden.</li>
        <li>Hast du die PDF aus Word (o.Ä.) exportiert? Dann überprüfe, ob die Seitenumbrüche noch stimmen.</li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <hr style="clear: both;">
  </div>
  <div>
    <div class="col-md-offset-3 col-md-8">
      <input class="btn btn-primary" type="submit" value="Abschicken" data-bind="enable: submissionEnabled">
      <div class="form-control-inline icon-placeholder">
        <div class="icon text-right" data-bind="css: { 'spinner icon-spinner active': status === 'waiting',
          'icon-ok text-success': status === 'success',
          'icon-attention text-warning': status === 'error' }"></div>
      </div>
      <span class="alert alert-compact alert-info" role="alert" data-bind="visible: early_document_eligible">
          Für dieses Protokoll bekommst du eine
          <a tabindex="0" class="btn btn-xs btn-default" role="button"
             data-toggle="popover" data-trigger="focus" data-html="true"
             title="Erstprotokollentlohnung"
             data-content='Die Fachschaft zahlt für Erstprotokolle eine Belohnung in Höhe von 5 Euro aus. Erstprotokolle sind:
          <ul>
            <li>Die ersten fünf Protokolle zu einer Prüfung.</li>
            <li>Protokolle, die bis zu 14 Tage nach den ersten fünf hochgeladen werden.</li>
          </ul>Diese Belohnung wird zusätzlich zu eventuellen Pfandeinträgen ausgezahlt.'>Erstprotokollentlohnung</a>
      </span>
      <span class="text-warning" data-bind="text: errorlabel"></span>
    </div>
  </div>
</form>
