<table class="table table-condensed">
  <thead>
    <tr>
      <td class="td-compact" colspan="2">
        #/
        <span data-bind="text: countType('written')"></span><span title="schriftlich" class="icon-pencil"></span>
        <span data-bind="text: countType('oral')"></span><span title="mündlich" class="icon-chat"></span>
      </td>
      <td>Vorlesungen</td>
      <td>Prüfer</td>
      <td><sortable-column params="coll: coll, column: 'date', asc: false">Datum</sortable-column></td>
      <td><sortable-column params="coll: coll, column: 'number_of_pages', asc: false">Seiten</sortable-column></td>
      <td><sortable-column params="coll: coll, column: 'validation_time', asc: false">Einpflegedatum</sortable-column></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="btn-group btn-group-nowrap" role="group">
          <button class="btn btn-default btn-compact" type="button" title="schriftlich" data-bind="css: { 'active': typeFilter.value !== 'oral' }, click: toggleTypeFilter.bind($data, 'oral')"><span class="icon-pencil"></span></button>
          <button class="btn btn-default btn-compact" type="button" title="mündlich" data-bind="css: { 'active': typeFilter.value !== 'written' }, click: toggleTypeFilter.bind($data, 'written')"><span class="icon-chat"></span></button>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='text-right'><button class='icon-button btn-info btn' title="Alle hinzufügen" data-bind="click: addAll.bind($data)">∀<span class='icon-basket small'></span></button></td>
    </tr>
  </thead>
  <tbody data-bind="foreach: coll.items">
  <tr class="list" data-bind="
    css: { 'row-disabled': $parent.cart.contains($data) },
    event: { mouseenter: $parent.rangeSelect.onRowMouseOver.bind($parent.rangeSelect, $index) },
    click: function() { $parent.rangeSelect.onClick($index); }">
    <td class="rangeBar-td td-compact" data-bind="css: { 'rangeBar-selected addButton-color': $parent.rangeSelect.selectedBarVisible($index)}">
      <span class="rangeBar-bound rangeBar-upper-bound icon-down-open" data-bind="visible: $parent.rangeSelect.upperBoundVisible($index)"></span>
      <span class="row-disabled" data-bind="text: $index() + 1"></span>
      <span class="rangeBar-bound rangeBar-lower-bound icon-up-open" data-bind="visible: $parent.rangeSelect.lowerBoundVisible($index)"></span>
    </td>
    <td class="td-compact">
      <span data-bind="visible: documentType === 'written'" title="schriftlich" class="icon-pencil"></span>
      <span data-bind="visible: documentType === 'oral'" title="mündlich" class="icon-chat"></span>
    </td>
    <td>
      <ul class="lecture-list-cell" data-bind="foreach: lectures">
        <li data-bind="text: name"></li>
      </ul>
      <span class="document-comment" data-bind="text: comment"></span>
    </td>

    <td data-bind="text: examinantsText"></td>
    <td class="td-nowrap" data-bind="date: date"></td>
    <td data-bind="text: numberOfPages"></td>
    <td class="td-nowrap" data-bind="date: validationTime"></td>
    <td class="td-nowrap td-compact text-right" data-bind="enable: available">
      <button
        class='icon-button btn-info btn btn-compact icon-basket'
        data-bind="
        click: $parent.addRange.bind($parent),
        clickBubble: false,
        style: { visibility: $parent.rangeSelect.toggleButtonVisible($index) ? 'visible' : 'hidden' },
        enable: !$parent.cart.contains($data)">
      </button>
      <a
        class='icon-button btn-info btn btn-compact icon-eye'
        title="Vorschau"
        data-bind="
        click: function() { window.open(previewURL, '_blank') },
        clickBubble: false,
        visible: $parent.user.isAuthenticated,
        style: { visibility: $index() == $parent.rangeSelect.hoverIndex ? 'visible' : 'hidden' },
        "></a>
    </td>
  </tr>
  </tbody>
</table>
<load-more params="coll: coll"></load-more>
