<!-- Template for the main document selection table.
Data binding context: DocumentSelection. -->

<div id="documentselection">
  <!-- Bind URL parts to view model. Use a separate element so that nothing gets hidden by the parameter-less /documentselection default URL. -->
  <div data-bind="page: {id: '?', nameParam: ko.getObservable($data, 'serializedSelected')}"></div>
  <div id="documentselection-selection">
    <input
      type="text"
      data-bind="tagsinput: {
        items: ko.getObservable($data, 'selected'),
        itemValue: 'name',
        typeaheadjs: typeaheadDataset,
      }"
      placeholder="Vorlesungen und/oder Prüfer"
      autofocus>
  </div>

  <documentlist params="cart: cart, endpoint: selectedEndpoint"></documentlist>
</div>

<!-- shopping cart -->
<span id="cart" class="cart navbar-default container-fluid navbar">
  <div data-bind="component: {name: 'documentselection-cart', params: $data}"></div>
</span>
