<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/styles.css">
    <script type="text/javascript" src="assets/scripts.js"></script>
    <title>Klausurenverkauf – Fachschaft Mathematik/Informatik</title>
  </head>
  <body>
  <!-- placeholder for ko.modal templates -->
  <div id="modal" class="modal fade" tabindex="-1" role="dialog"></div>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Odie</a>
        </div>

        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav">
            <li data-bind="css: { active: activeRoute.startsWith('documentselection') }">
              <a href="#documentselection">
                Auswahl&nbsp;<span class="badge" data-bind="text: cartSize"></span>
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li data-bind="visible: user.isAuthenticated, css: { active: activeRoute === 'internal/preselection' }"><a href="#internal/preselection">Vorauswahl</a></li>
            <li data-bind="visible: user.isAuthenticated, css: { active: activeRoute === 'internal/depositreturn' }"><a href="#internal/depositreturn">Pfandrückgabe</a></li>
            <li data-bind="visible: user.isAuthenticated, css: { active: activeRoute === 'internal/correction' }"><a href="#internal/correction">Abrechnungskorrektur</a></li>
            <li data-bind="visible: !user.isAuthenticated, css: { active: activeRoute === 'login' }"><a href="#login?successRoute=#">Als Fachschafter anmelden</a></li>
            <li data-bind="visible: user.isAuthenticated, click: logout.bind($root)"><a href="#">Abmelden</a></li>
            <li data-bind="visible: user.isAuthenticated"><a href='#' style="color: #333333 !important">Hallo,&nbsp;<span data-bind="text: user.first_name"></span></a></li>
          </ul>
        </div>

      </div><!-- /.container-fluid -->
    </nav>

    <!-- Yeah yeah, we know. Sorry, Fefe. -->
    <noscript id="nojs" class="text-center">
      <h1 class="banner">:(</h1>
      <h2 class="banner">Leider benötigt diese Seite JavaScript.</h2>
      <p style="font-family: 'Open Sans', arial;">Solltest du JavaScript in deinem Browser nicht anschalten können (oder wollen), kannst du in der Fachschaft vorbeikommen und die Auswahl vor Ort vornehmen.</p>
    </noscript>

    <div data-bind="component: 'log'"></div>

    <!-- content -->
    <div data-bind="page: { id: 'documentselection', role: 'start' }">
      <div data-bind="component: 'documentselection'"></div>
    </div>
    <div data-bind="page: { id: 'login', params: ['successRoute'] }">
      <div data-bind="component: { name: 'login', params: { successRoute: successRoute } }"></div>
    </div>
    <div data-bind="page: { id: 'internal', guard: ensureAuthenticated.bind($root) }">
      <div data-bind="page: { id: '?', nameParam: 'pageID' }">
        <div data-bind="component: pageID"></div>
      </div>
    </div>
    <div data-bind="page: { id: '?' }">
      Here be tiny fluffy dragons
    </div>
  </div>

  <!-- footer -->
  <div class="footer">
    <hr>
    <p class="text-center">
    In <a href="http://knockoutjs.com" >Knockout.js</a>, <a href="https://jQuery.com">jQuery</a>, <a href="http://getbootstrap.com">Bootstrap</a> und <a href="http://flask.pocoo.org/">Flask</a> zusammengehackt.<br/>
    Github: <a href="https://github.com/fsmi/odie-client">Frontend</a> | <a href="https://github.com/fsmi/odie-server">Backend</a><br/>
    Sonstige Fragen, Anmerkungen, "Hilfe, alles brennt!"? <a href="mailto:odie@fsmi.uni-karlsruhe.de">odie@fsmi.uni-karlsruhe.de</a>
    </p>
  </div>
  </body>
</html>
