<table class="table table-condensed">
  <thead>
    <tr>
      <td><sortable-column params="coll: coll, column: 'name'">Bezeichner</sortable-column></td>
      <td>Vorlesungen</td>
      <td><sortable-column params="coll: coll, column: 'creation_time', asc: false">Erstellt</sortable-column></td>
      <td></td>
    </tr>
    <tr>
      <td><input type="text" placeholder="Filter" class="form-control" data-bind='value: filter.value, valueUpdate: "input"'></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody data-bind="foreach: coll.items">
  <tr class="document-list">
    <td data-bind="text: name"></td>
    <td class="td-min-60pct-break" data-bind="text: lectureNames.join(', ')"></td>
    <td class="text-nowrap" data-bind="date: date"></td>
    <td>
      <button class="btn btn-compact btn-primary icon-folder-open" data-bind="click: $parent.openCart.bind($parent, $data)">Öffnen</button>
    </td>
  </tr>
  </tbody>
</table>
<load-more params="coll: coll"></load-more>
