<!-- Template for the modal dialog shown when logged in and clicking on the 'preview document' button
Data binding context: config -->

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">Vorschau-Konfiguration</h4>
    </div>
    <div class="modal-body">
      <p>Um die Vorschau-Funktion auf einem Fachschaftsrechner zu benutzen, musst du deinen Browser erst davon überzeugen, file://-URLs aus Odie heraus zu öffnen. Dafür existieren Plugins sowohl für <a href="https://addons.mozilla.org/en-US/firefox/addon/locallink/">Firefox</a> (oder auch <a href="http://kb.mozillazine.org/Links_to_local_pages_do_not_work#Disabling_the_Security_Check">ohne Plugin</a>) und <a href="https://chrome.google.com/webstore/detail/locallinks/jllpkdkcdjndhggodimiphkghogcpida">Chrome</a>.</p>
      <p>Falls zu zu den hippen Leuten gehörst, die fsmi-login per sshfs gemountet haben, kannst du natürlich auch auf deinem privaten PC die Funktion nutzen. Passe dazu den folgenden Pfad entsprechend deinem Setup an:</p>
      <input type="text" id="preview-prefix" class="form-inline form-control-inline form-control" data-bind="value: previewPrefix">
      <p>Der Pfad wird in einem Cookie gespeichert, ist also lokal für diesen Computer.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Jetzt lieber nicht</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: configurePreview.bind($data)">Eingerichtet!</button>
    </div>
  </div>
</div>
